<%@ Page Language="vb" AutoEventWireup="false" Inherits="kjendisbasen.HashPasswords" CodeFile="HashPasswords.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>HashPasswords</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<P>
				<asp:TextBox id="TextBox1" runat="server"></asp:TextBox>
				<asp:Button id="Button1" runat="server" Text="Hash"></asp:Button></P>
			<P>
				<asp:Label id="Label1" runat="server" Width="408px"></asp:Label></P>
		</form>
	</body>
</HTML>
